# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directory.
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
/node_modules
node_modules
/.pnp
.pnp.js

# Temporary directories for any environment mode.
# Compiled binary addons.
# (http://nodejs.org/api/addons.html)
build/
/build
build

# Dist directories.
dist/
/dist
dist

# Misc.
todo_tasks.txt
complete_tasks.txt
misc/documents/todo_tasks.txt
misc/documents/complete_tasks.txt
/misc/documents/todo_tasks.txt
/misc/documents/complete_tasks.txt
misc/backup/
/misc/backup/
misc/backup

# Logs.
/logs

# Testing
/coverage
test
coverage

# Build tools.
.travis.yml
.jenkins.yml
.codeclimate.yml

# Linters.
.babelrc
.jscsrc
.jsbeautifyrc
.jshintrc
.eslintignore
.eslintrc*
.stylelintrc